$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$redColor: rgba(226, 73, 76);
$grayColor: #d1d1d1;
$grayColorFont: #777;

$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;
